@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

body {
  background-color: #060524;
  background-image: url(src/bg.png);
  color: #fff;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 0.5px solid rgba(0, 255, 255, 0.253);
  padding-bottom: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.47);
}

header a {
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

header .links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

header .title {
  text-transform: capitalize;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-left: 20px;
}

header a:hover {
  border-bottom: 2px solid aqua;
  background-color: rgba(0, 255, 255, 0.253);
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

header .active {
  border-bottom: 2px solid aqua;
  background-color: rgba(0, 255, 255, 0.253);
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

/* index.html */

main h1 {
  margin-top: 100px;
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
  text-align: center;
  text-shadow: 0px 4px 7px rgba(0, 255, 255, 0.8);
}

main p {
  font-family: "Sen", sans-serif;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.74);
}

.rocket {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
  animation: animate 0.2s ease infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.rocket::before {
  content: "";
  position: absolute;
  bottom: -87px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 100px;
  background: linear-gradient(#00d0ff, transparent);
}

.rocket::after {
  content: "";
  position: absolute;
  bottom: -87px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 100px;
  background: linear-gradient(#00d0ff, transparent);
  filter: blur(10px);
}

/* PLANET */

#container {
  /* border: 1px solid red; */
  padding: 60px;
  height: 55vh;
  display: flex;
}

.planet {
  width: 60%;
  /* border: 1px solid greenyellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation 15s infinite linear;
  z-index: -2;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.info {
  width: 40%;
  padding: 20px;
  /* border: 1px solid aqua; */
  font-family: "Sen", sans-serif;
  font-size: 17px;
}

.info h1 {
  margin-top: -5px;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: aqua;
  /* text-align: center; */
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.8);
}

.info a {
  text-decoration: none;
  color: #fff;
}

.cards {
  padding-left: 15px;
  padding-right: 15px;
  height: 17vh;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff42;
  border-radius: 10px;
  height: 70%;
  width: 20%;
  padding: 10px;
  transform: 1s linear ease;
  cursor: pointer;
}

.cards .card:hover{
  background-color: #00d0ff;
  color: #060524;
}

.card h1 {
  margin-left: 10px;
  margin-top: 7px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

.card p {
  margin-left: 10px;
  margin-top: 3px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff93;
}

.card p:hover{
  color: #060524;
}

/* .ring{
  position: fixed;
  rotate: 125deg;
  height: 470px;
  top: 120px;
  left: 20px;
  z-index: -1;
} */

/* Planet END */

::-webkit-scrollbar {
  width: 0px;
}